.task-form {
  display: flex;
  flex-direction: column;
}

.task-form textarea {
  height: 80px;
  resize: none;
  background-color: sandybrown;
}

.task-item {
  min-height: 3vw;
  background-color: sandybrown;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
}

.task-item button {
  width: 1vw;
  align-self: flex-end;
}

.tasks-container {
  min-width: 300px;
  flex: 2;
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
}

@media (max-width: 1000px) {
  .tasks-container {
    margin-top: 5vh;
    width: 60%;
  }
}

@media (max-width: 600px) {
  .tasks-container {
    width: 80%;
  }
}
