.container {
  display: flex;
  justify-content: center;
}

.view {
  width: 1200px;
  min-width: 340px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@media (max-width: 1000px) {
  .view {
    align-items: center;
    flex-direction: column-reverse;
    width: 100vw;
  }
}