.task-item {
  min-height: 3vw;
  background-color: var(--base-color);
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
}

.task-item button {
  width: 1vw;
  align-self: flex-end;
}

.tasks-list > *:not(:first-child) {
  margin-top: 5vh;
}